@model IEnumerable<Category>

@{
    var banners = ViewBag.Banner;
}

<section class="banner-section page-section">
    <div class="container">
        <div class="banner-section_inner">
            <div class="banner-section_slider">
                @foreach (var banner in banners)
                {
                    <a class="banner-section_slider-item" href="#">
                        <img class="banner-section_slider-item" src="@banner" asp-append-version="true" width="900px" height="600px" alt="">
                    </a>
                }
            </div>
            <a class="banner-section_item sale-item">
                <div class="sale-item_top">
                    <div class="sale-item_info">
                        SALE
                    </div>
                    <div class="sale-item_price">
                        <div class="price sale-item_price-new">@(Math.Round((decimal)(ViewBag.Product?.UnitPrice - ViewBag.Product.UnitPrice * ViewBag.Product.Discount / 100), 2))</div>
                        <div class="price sale-item_price-old">@ViewBag.Product.UnitPrice</div>
                    </div>
                </div>
                <img class="sale-item_img" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.Product.ProductPicture))" width="200px" alt="">
                <h5 class="sale-item_title">
                    @ViewBag.Product.ProductName
                </h5>
                <div class="sale-item_footer">
                    The promotion is valid until
                    <span>2021.01.28</span>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="search page-section">
    <div class="container">
        <div class="search_inner">
            <div class="search_tabs tabs-wrapper">
                <div class="mobile-overflow">
                    <a class="tab search_tabs-item tab--active" href="#tab-1">Search by product description</a>
                    <a class="tab search_tabs-item" href="#tab-2">Search by product name</a>
                </div>
            </div>
            <div class="search_content">
                <div id="tab-1" class="tabs-content search_content-item tabs-content--active">
                    <form class="search_content-form">
                        <input class="search_content-input" type="text" placeholder="Enter product description">
                        <button class="search_content-btn" type="submit">Search</button>
                    </form>
                </div>
                <div id="tab-2" class="tabs-content search_content-item">
                    <form class="search_content-form">
                        <input class="search_content-input" type="text" placeholder="Enter product name">
                        <button class="search_content-btn" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="categories page-section">
    <div class="container">
        <div class="categories_inner">
            @{
                var count = 1;
                foreach (var category in Model)
                {
                    if (count == 1)
                    {
                        <a class="categories_item cat1_top" asp-controller="Catalog" asp-action="Index">
                            <div class="categories_item-info">
                                <h4 class="categories_item-title">Electronics</h4>
                                <p class="categories_item-text">
                                    More Details
                                </p>
                            </div>
                            <div class="categories_item-img cat1-unique">
                                <img src="@("~/images/" + category.ImagePath)" asp-append-version="true" width="195px">
                            </div>
                        </a>
                        count++;
                    }
                    else if (count == 2)
                    {
                        <a class="categories_item" asp-controller="Catalog" asp-action="Index">
                            <div class="categories_item-info">
                                <h4 class="categories_item-title">Computers</h4>
                                <p class="categories_item-text">
                                    More Details
                                </p>
                            </div>
                            <div class="categories_item-img">
                                <img src="@("~/images/" + category.ImagePath)" asp-append-version="true" width="240px">
                            </div>
                        </a>
                        count++;
                    }
                    else
                    {
                        <a class="categories_item" asp-controller="Catalog" asp-action="Index">
                            <div class="categories_item-info">
                                <h4 class="categories_item-title">Music</h4>
                                <p class="categories_item-text">
                                    More Details
                                </p>
                            </div>
                            <div class="categories_item-img">
                                <img src="@("~/images/" + category.ImagePath)" asp-append-version="true" width="200px">
                            </div>
                        </a>
                        count++;
                    }
                }
            }
        </div>
    </div>
</section>

<section class="products">
    <div class="container">
        <div class="products_inner">
            <h4 class="product-title">Popular goods</h4>
            <div class="tabs-wrapper ">
                <div class="tabs products_tabs mobile-overflow">
                    <a class="tab products_tab tab--active" href="#product-tab-1">Electronics</a>
                    <a class="tab products_tab" href="#product-tab-2">Computers</a>
                    <a class="tab products_tab" href="#product-tab-3">Accessories</a>
                    <a class="tab products_tab" href="#product-tab-4">Software</a>
                    <a class="tab products_tab" href="#product-tab-5">Arts</a>
                    <a class="tab products_tab" href="#product-tab-6">Games</a>
                </div>
            </div>
            <div class="tabs-container products_container">
                <div id="product-tab-1" class="tabs-content products_content tabs-content--active">
                    <div class="product-slider">
                        @{
                            var electronics = Model.FirstOrDefault(c => c.CategoryName == "Electronics");
                            foreach (var e in electronics.SubCategories)
                            {
                                foreach (var p in e.Products)
                                {
                                    <div class="product-slider_item">
                                        <div class="product-item_wrapper">
                                            <button class="product-item_favorite" type="button"></button>
                                            <button class="product-item_basket">
                                                <img src="~/images/cart.png" alt="">
                                            </button>
                                            <a class="product-item_notify-link" href="#">
                                                <span>Notify on arrival</span>
                                            </a>
                                            <a class="product-item" href="#">
                                                <p class="product-item_hover-text">
                                                    View product
                                                </p>
                                                <img class="product-item_img" src="@("~/images/content/" + p.ImagePath)" asp-append-version="true" width="200px" alt="">
                                                <h4 class="product-item_title">@p.ProductName</h4>
                                                <p class="product-item_price">
                                                    1.520$
                                                </p>
                                                <p class="product-item_notify-text">
                                                    Not available
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div id="product-tab-2" class="tabs-content products_content">
                    <div class="product-slider">
                        @{
                            foreach (var e in electronics.SubCategories)
                            {
                                foreach (var p in e.Products)
                                {
                                    <div class="product-slider_item">
                                        <div class="product-item_wrapper">
                                            <button class="product-item_favorite" type="button"></button>
                                            <button class="product-item_basket">
                                                <img src="~/images/cart.png" alt="">
                                            </button>
                                            <a class="product-item_notify-link" href="#">
                                                <span>Notify on arrival</span>
                                            </a>
                                            <a class="product-item" href="#">
                                                <p class="product-item_hover-text">
                                                    View product
                                                </p>
                                                <img class="product-item_img" src="@("~/images/content/" + p.ImagePath)" asp-append-version="true" width="200px" alt="">
                                                <h4 class="product-item_title">@p.ProductName</h4>
                                                <p class="product-item_price">
                                                    1.520$
                                                </p>
                                                <p class="product-item_notify-text">
                                                    Not available
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div id="product-tab-3" class="tabs-content products_content">
                    Slider3
                </div>
                <div id="product-tab-4" class="tabs-content products_content">
                    Slider4
                </div>
                <div id="product-tab-5" class="tabs-content products_content">
                    Slider5
                </div>
                <div id="product-tab-6" class="tabs-content products_content">
                    Slider6
                </div>
                <div class="product_more">
                    <a class="product_more-link" href="#">Show more</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="banner">
    <div class="container">
        <a class="banner_link" href="#">
            <img src="~/images/content/big-sale.jpg" alt="">
        </a>
    </div>
</div>

<section class="products">
    <div class="container">
        <div class="products_inner">
            <h4 class="product-title">Buy with these goods</h4>
            <div class="tabs-wrapper">
                <div class="tabs products_tabs mobile-overflow">
                    <a class="tab products_tab tab--active" href="#popular-tab-1">Electronics</a>
                    <a class="tab products_tab" href="#popular-tab-2">Computers</a>
                    <a class="tab products_tab" href="#popular-tab-3">Accessories</a>
                    <a class="tab products_tab" href="#popular-tab-4">Software</a>
                    <a class="tab products_tab" href="#popular-tab-5">Arts</a>
                    <a class="tab products_tab" href="#popular-tab-6">Games</a>
                </div>
            </div>
            <div class="tabs-container products_container">
                <div id="popular-tab-1" class="tabs-content products_content tabs-content--active">
                    <div class="product-slider">
                        @{
                            foreach (var e in electronics.SubCategories)
                            {
                                foreach (var p in e.Products)
                                {
                                    <div class="product-slider_item">
                                        <div class="product-item_wrapper">
                                            <button class="product-item_favorite" type="button"></button>
                                            <button class="product-item_basket">
                                                <img src="~/images/cart.png" alt="">
                                            </button>
                                            <a class="product-item_notify-link" href="#">
                                                <span>Notify on arrival</span>
                                            </a>
                                            <a class="product-item" href="#">
                                                <p asp-controller="Product" asp-action="Index" asp-route-id="@p.ProductID" class="product-item_hover-text">
                                                    View product
                                                </p>
                                                <img class="product-item_img" src="@("~/images/content/" + p.ImagePath)" asp-append-version="true" width="200px" alt="">
                                                <h4 class="product-item_title">@p.ProductName</h4>
                                                <p class="product-item_price">
                                                    1.520$
                                                </p>
                                                <p class="product-item_notify-text">
                                                    Not available
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div id="popular-tab-2" class="tabs-content products_content">
                    <div class="product-slider">
                        @{
                            foreach (var e in electronics.SubCategories)
                            {
                                foreach (var p in e.Products)
                                {
                                    <div class="product-slider_item">
                                        <div class="product-item_wrapper">
                                            <button class="product-item_favorite" type="button"></button>
                                            <button class="product-item_basket">
                                                <img src="~/images/cart.png" alt="">
                                            </button>
                                            <a class="product-item_notify-link" href="#">
                                                <span>Notify on arrival</span>
                                            </a>
                                            <a class="product-item" href="#">
                                                <p asp-controller="Product" asp-action="Index" asp-route-id="@p.ProductID" class="product-item_hover-text">
                                                    View product
                                                </p>
                                                <img class="product-item_img" src="@("~/images/content/" + p.ImagePath)" asp-append-version="true" width="200px" alt="">
                                                <h4 class="product-item_title">@p.ProductName</h4>
                                                <p class="product-item_price">
                                                    1.520$
                                                </p>
                                                <p class="product-item_notify-text">
                                                    Not available
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div id="popular-tab-3" class="tabs-content products_content">
                    Slider3
                </div>
                <div id="popular-tab-4" class="tabs-content products_content">
                    Slider4
                </div>
                <div id="popular-tab-5" class="tabs-content products_content">
                    Slider5
                </div>
                <div id="popular-tab-6" class="tabs-content products_content">
                    Slider6
                </div>
            </div>
        </div>
      </div>
</section>